{% extends 'userapp/provider-base.html' %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="availablity">
    <div class="container">
        <div class="availablityMain">
            <ul class="nav nav-tabs ml-0">
                <li class="active first">
                    <a>
                        <div class="radio">
                            <input id="radio-30" name="radio3" type="radio">
                            <label for="radio-30" class="radio-label single">Single</label>
                        </div>
                    </a>
                </li>
                <li class="second">
                    <a>
                        <div class="radio">
                            <input id="radio-40" name="radio3" type="radio">
                            <label for="radio-40" class="radio-label multiple">Multiple Date</label>
                        </div>
                    </a>
                </li>
            </ul>
            <div id='calendar1' class="calender"></div>
            <div class="text-center" style="padding-top: 50px;">
                <button type="button" disabled class="Button bg-violet popnext" onclick="multiSlotTypeFun()">Next</button>
            </div>
        </div>
    </div>
</section>
<div class="modalBox availbleModal">
    <div class="modal" id="MultipleSelect">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div id="checkAvailability">
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a onclick="multiSlotCreate()" class="Button bg-violet">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="MultipleSelect2">
        <div class="modal-dialog" style="max-width:67%;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot" style="overflow-y: auto;">
                        <div class="checkAvailability">
                            <div class="avaliblitytitles">
                                <ul>
                                    <li>
                                        <span><a href="javaScript:void(0)" id="slot_timing">
                                            </a></span>
                                    </li>
                                    <li class="titleav"><span class="mainHeading mainHeading1" id="single_title">Add
                                            Title</span>
                                        <div class="titleBoxs titleBoxs1">
                                            <div class="form-group">
                                                <label for="" class="label" style="padding: 0;">Add Tittle</label>
                                                <input type="text" class="form-control formControl"
                                                    placeholder="Add Title" name="single_title" id="single_title_field">
                                            </div>
                                            <div class="functionbtn">
                                                <span class="cancle">Cancel</span>
                                                <span class="savednew" id="single_title">Save</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="titleav"><span class="mainHeading mainHeading2" id="fee">Add Hourly
                                            Fees</span>
                                        <div class="titleBoxs titleBoxs2">
                                            <div class="form-group">
                                                <label for="" class="label" style="padding: 0;">Add Tittle</label>
                                                <input type="text" class="form-control formControl"
                                                    placeholder="Add Title" name="single_fee" id="single _fee_field">
                                            </div>
                                            <div class="functionbtn">
                                                <span class="cancle">Cancel</span>
                                                <span class="savednew" id="single_price">Save</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="availModal" style="padding-bottom: 75px;">
                                <ul>
                                    <li><a href="javaScript:void(0)">07:00 AM to 08:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">08:00 AM to 09:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">09:00 AM to 10:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">10:00 AM to 11:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">11:00 AM to 12:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">01:00 PM to 02:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">02:00 PM to 03:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">03:00 PM to 04:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">04:00 PM to 05:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">05:00 PM to 06:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">06:00 PM to 07:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" class="Button bg-violet" onclick="simple()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="MultipleEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' } %" alt=""></a></span>

                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'imgs/awesome-edit.webp'}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky smaller"><img
                                            src="{% static 'imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" data-dismiss="modal" class="Button bg-violet ">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="SingleSelect">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span><a href="javaScript:void(0)" class="small pl-2 d-inline-block darkSky smaller">Add
                                        Title</a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" data-dismiss="modal" class="Button bg-violet">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="multiModal">
        <div class="modal-dialog" style=" max-width: 575px;">
            <div class="modal-content">
                <button type="button" class="close closedd closee" data-dismiss="modal"><img
                        src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                <div class="modal-body" style="position: relative;height: 540px;overflow-y: scroll;">


                    <div class="selectdate" style="padding: 25px;padding-bottom: 0;">
                        <p class="d">Select your availability type</p>
                        <div id="multiSlotType">

                        </div>
                        <div class="btnsBottom btnsBoking">
                            <div class="modBt" style="text-align: center;">
                                <a href="javascript:void(0)" class="Button Button-violet-alt closee"
                                    style="min-width: 140px;">Cancel</a>
                                <a href="javascript:void(0)" class="Button bg-violet closee" style="min-width: 140px;"
                                    data-toggle="modal" data-dismiss="modal" data-target="#MultipleSelect"
                                    id="multiple_proceed">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="singleModal">
        <div class="modal-dialog" style=" max-width: 575px;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closedd closee"><img src="{% static '/userapp/imgs/close.svg' %}"
                            alt="close"></button>

                    <div class="selectdate" style="padding: 25px;padding-bottom: 0;">
                        <p class="head selectedd" id="slot_date"></p>
                        <p class="d">Select your availability category & type</p>
                        <div class="availablityMain availablityMain2 ">
                            <div class="categoryAll">
                                <h2 class="cate">Category</h2>
                                <select name="cars" id="category" class="form-control formControl"
                                    style="padding: 15px;" name="category">
                                    <option>Select Category</option>
                                    <option value="Legal Assistance">Legal Assistance</option>
                                    <option value="Therapeutical Help">Therapeutical Help</option>
                                    <option value="Counselling">Counselling</option>
                                </select>
                                <span class="error">
                                    <p id="category_error" style="color: red;"></p>
                                </span>
                            </div>
                            <h2 class="cate">Type</h2>
                            <ul class="nav nav-tabs singleAmit" style="margin: 0;display: flex;padding: 0px 0px 10px;">
                                <li class="active first">
                                    <div class="radio">
                                        <input id="radio-77" name="radio3" type="radio" value="Volunteer" required>
                                        <label for="radio-77" class="radio-label single">Volunteer
                                            <a href="#" class="amitInfo" title="hi this is freeeeeeeee"><i
                                                    class="fa fa-info-circle"></i></a>
                                        </label>
                                    </div>
                                    <span class="error">
                                        <p id="radio_error" style="color: red;"></p>
                                    </span>
                                </li>

                                <li class="second">

                                    <div class="radio">

                                        <input id="radio-78" name="radio3" type="radio" value="Paid Service" required>

                                        <label for="radio-78" class="radio-label multiple">Paid Service</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btnsBottom btnsBoking">
                            <div class="modBt" style="text-align: center;">
                                <a href="javascript:void(0)" class="Button Button-violet-alt closee"
                                    style="min-width: 140px;">Cancel</a>
                                <button class="Button bg-violet closee" style="min-width: 140px;" id="proceed"
                                    type="button">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal" id="slotsModal">
        <div class="modal-dialog" style=" max-width: 575px;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static '/userapp/imgs/close.svg' %}" alt="close"></button>

                    <div class="selectdate" style="padding: 25px;padding-bottom: 0;">
                        {% for obj in slots_per_day %}
                        <h2>{{obj.slot_date}}</h2>
                        <h2>{{obj.title}}</h2>
                        <h2>{{obj.slot_time}}</h2>
                        <h2>{{obj.select_slot_type}}</h2>
                        <h2>{{obj.category}}</h2>
                        <h2>{{obj.hourly_fees}}</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>
<script src="{% static 'userapp/provider/js/jquery.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/bootstrap.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarCorePackage.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarDayGrid.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarInteraction.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarTimeGrid.4.1.0.min.js' %}"></script>
<!-- <script>

    function showSigleModal(){
        alert('inside function')
        var f = sessionStorage.getItem('selectSlotType')
        alert(f)
        if (f.trim()=='Volunteer'){
            alert('inside f')
            var hourly_fees = document.getElementsByClassName('mainHeading2').style.display = "none";
            
        }else{

        }
        $('#singleModal').modal('show');

    }
</script> -->
<script>

    $(document).on('click', '.avaliblitytitles ul li span.mainHeading1', function () {
        $(this).siblings('.titleBoxs1').slideDown();
    });
    $(document).on('click', '.avaliblitytitles ul li span.mainHeading2', function () {
        $(this).siblings('.titleBoxs2').slideDown();
    });

    $(document).on('click', '.cancle', function () {
        $(this).parents('.titleBoxs').hide();
    });

    $(document).on('click', '.savednew', function () {
        var x = $(this).parents('.functionbtn').siblings('.form-group').find('input').val();
        $(this).parents('.titleav').find('span.mainHeading').text(x);
        $('.titleBoxs').hide();
    });

    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".avaliblitytitles ul li span.mainHeading1 ,.titleBoxs1"))
            return;
        $('.titleBoxs1').hide();
    });
    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".avaliblitytitles ul li span.mainHeading2 ,.titleBoxs2"))
            return;
        $('.titleBoxs2').hide();
    });
</script>
<script>
    $(document).on('click', '.saved', function () {
        var x = $(this).parents('.titleValue').siblings('.form-group').find('input').val();
        $(this).parents('.addTittle').find('a.smaller').text(x);
    });
</script>
<script>

    document.getElementById("proceed").onclick = function () {
        var x = document.getElementById("category").value;
        var y = ''
        if (document.getElementById('radio-78').checked == false && document.getElementById('radio-77').checked == false) {
            typeError = "Please select a valid type";
            document.getElementById("radio_error").innerHTML = typeError;
            // $(document).ready(function () {
            $('#MultipleSelect2').modal('hide');
            $('.modal-backdrop').removeClass('.show');

            // });
            $(document).ready(function () {
                $('#singleModal').modal('show');
            });
            // alert(typeError)
        } else {
            var y = $('input[name="radio3"]:checked').val();
            $(document).ready(function () {
                // alert(y)
                if (y.trim() == 'Volunteer') {
                    // alert('inside f')
                    $('.mainHeading2').css('display', 'none')
                } else {
                    $('.mainHeading2').css('display', 'block')

                    // console.log('>>>>>')
                }
                $('#singleModal').modal('hide');
                $('#MultipleSelect2').modal('show');

            });
        }
        if (x == null || x == "" || x == 'Select Category') {
            categoryError = "Please select a category";
            console.log('inside category error--', categoryError)
            document.getElementById("category_error").innerHTML = categoryError;
            $(document).ready(function () {
                $('#MultipleSelect2').modal('hide');
                $('.modal-backdrop').removeClass('.show');
            });
            $(document).ready(function () {
                $('#singleModal').modal('show');
            });
            // alert(categoryError)
        }

        console.log(x, y)
    }

    function removeWarning() {
        document.getElementById(this.id + "_error").innerHTML = "";
    }

    document.getElementById("category").onkeyup = removeWarning;
    document.getElementById("radio3").onkeyup = removeWarning;
</script>
<script>
    document.getElementById("multiple_proceed").onclick = function () {
        var multiSlots = sessionStorage.getItem('multiSelectDate').split(",")
        // alert(multiSlots.length)
        for (var i = 0; i < multiSlots.length; i++) {
            // alert('inside for loop')
            var z = "multicategory" + i
            // console.log(z)
            var a = "radio-40" + i
            // console.log(a)
            var b = "radio-40" + (parseInt(i) + parseInt(10))
            // console.log(b)
            var c = "radio_error" + i
            // console.log(c)
            var d = "category_error" + i
            // console.log(d)
            var x = document.getElementById(z).value;
            // console.log(x)
            var y = ''
            if (document.getElementById(a).checked == false && document.getElementById(b).checked == false) {
                // alert('inside multi radio button')
                typeError = "Please select a valid type";
                document.getElementById(c).innerHTML = typeError;
                $(document).ready(function () {
                    $('#MultipleSelect').modal('hide');
                    $('.modal-backdrop').removeClass('.show');
                });
                $(document).ready(function () {
                    $('#multiModal').modal('show');
                });
                // alert(typeError)
            } else {
                var y = $('input[name="radio' + i + '"]:checked').val();
                // alert(y)
                   
                $(document).ready(function () {
                    // alert('from error loop')
                    multiAvailibility();
                    $('#MultipleSelect').modal('show');
                });
            }
            if (x == null || x == "" || x == 'Select Category') {
                categoryError = "Please select a category";
                // console.log('inside category error--', categoryError)
                document.getElementById(d).innerHTML = categoryError;
                $(document).ready(function () {
                    $('#MultipleSelect').modal('hide');
                    $('.modal-backdrop').removeClass('.show');
                });
                $(document).ready(function () {
                    $('#multiModal').modal('show');
                });
                // alert(categoryError)
            }

            console.log(x, y)
        }

        function removeWarning() {
            document.getElementById(this.id + "_error").innerHTML = "";
        }

        // document.getElementById("category").onkeyup = removeWarning;
        // document.getElementById("radio3").onkeyup = removeWarning;
    }
</script>
<script>
    var radio_button_value_arr = []
    var multi_radio_button_value_arr = []
    var multi_title = []
    var multi_fee = []
    $(document).on('click', '.multi_fee', function () {
        var z = $(this).prop('id');
        var a = "#multi_fee_id" + z;
        var x = $(a).val();
        multi_fee.push(x)
        sessionStorage.setItem('multiFee', multi_fee)
    });


    $(document).on('click', '.multi_title', function () {
        var z = $(this).prop('id');
        var a = "#multi_title_id" + z;
        var x = $(a).val();
        multi_title.push(x)
        sessionStorage.setItem('multiTitle', multi_title)
    });



    $(document).on('click', '#single_title', function () {
        var x = $("input[name=single_title]").val();
        // alert('single title', x)
        var y = document.getElementById('title')
        // y.innerHTML = x;
        sessionStorage.setItem('singleTitle', x)
    });

    $(document).on('click', '#single_price', function () {
        var x = $("input[name=single_fee]").val();
        // alert('single price', x)
        var y = document.getElementById('fee')
        // y.innerHTML = x;
        console.log('SINGLE FEES', x)
        sessionStorage.setItem('singleFees', x)
    });

    $(document).on('click', '.radio-label', function () {
        console.log('inside volunteeer in multipselect')
        var x = $(this).text().trim();
        console.log('>>>>>>>>>>>>>>>>>>>>>>>>>>', x, x == String('test'), typeof (x), typeof ('Volunteer'))
        if (x == 'Volunteer') {
            radio_button_value_arr.push(x)
            // alert('---',radio_button_value_arr)
            sessionStorage.setItem('availabilityType', radio_button_value_arr)
        }
    });

    $(document).on('click', '.radio-label', function () {

        var x = $(this).text();
        console.log('>>>>>>>>>>>>>>>>>>>>>>>>>>', x, x == 'Paid Service', typeof (x), typeof ('Paid Service'))

        if (x == 'Paid Service') {
            radio_button_value_arr.push(x)
            // alert('radio lable for array2',radio_button_value_arr)
            sessionStorage.setItem('availabilityType', radio_button_value_arr)
        }
    });



    $(document).on('click', '.radio-label', function () {

        var x = $(this).text();
        if (x == '07:00 AM to 08:00 AM' || x == '08:00 AM to 09:00 AM' || x == '09:00 AM to 10:00 AM' || x == '10:00 AM to 11:00 AM' || x == '11:00 AM to 12:00 pM' || x == '12:00 PM to 01:00 PM' || x == '01:00 PM to 02:00 PM' || x == '02:00 PM to 03:00 PM' || x == '03:00 PM to 04:00 PM' || x == '04:00 PM to 05:00 PM' || x == '05:00 PM to 06:00 PM' || x == '06:00 PM to 07:00 PM') {
            multi_radio_button_value_arr.push(x)
            sessionStorage.setItem('multiSlots', multi_radio_button_value_arr)
            console.log(multi_radio_button_value_arr)
        }
    });

    var category_arr = []
    var multiSlots = sessionStorage.getItem('multiSelectDate').split(",")

    for (var i = 0; i < multiSlots.length; i++) {
        $(document).on('click', '#multicategory' + i + '', function () {
            var x = $(this).val().trim();
            if (x == 'Select Category') {

            } else {
                category_arr.push(x)
                sessionStorage.setItem('multiCategoryType', category_arr)
            }

        });
    }

    function multiSlotTypeFun() {
        var multiSlots = sessionStorage.getItem('multiSelectDate').split(",");
        // var multiCategoryType = ''
        // if (sessionStorage.getItem('selectSlotType')) {
        //     
        // }
        // console.log('_____________________',sessionStorage.getItem('selectSlotType'))
        // alert(multiCategoryType)
        var t = "";
        for (var i = 0; i < multiSlots.length; i++) {
            t += `<div class="slote">
                                <p class="head selectedd">Selected Date : <span class="dated">${multiSlots[i]}</span>
                                </p>

                                <div class="availablityMain availablityMain2 ">
                                    <div class="categoryAll">
                                        <h2 class="cate">Category</h2>
                                        <select name="cars" id="multicategory${i}" class="form-control formControl"
                                            style="padding: 15px;">
                                            <option>Select Category</option>
                                            <option value="Legal Assistance">Legal Assistance</option>
                                            <option value="Therapeutical Help">Therapeutical Help</option>
                                            <option value="Counselling">Counselling</option>
                                        </select>
                                        <span class="error">
                                    <p id="category_error${i}" style="color: red;"></p>
                                </span>
                                    </div>
                                    
                                    <h2 class="cate">Type</h2>
             <ul class="nav nav-tabs" style="margin: 0;padding: 0px 0px 10px;">
                                    <li class="active first">
                                        <div class="radio">
                                            <input id="radio-40${i}" name="${i}" type="radio" value="test">
                                            <label for="radio-40${i}" class="radio-label single">Volunteer
                                            <a href="#" class="amitInfo" title="Volunteer means free service"><i class="fa fa-info-circle"></i></a>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-40${i + 10}" name="${i}" type="radio" value="Paid Service">
                                            <label for="radio-40${i + 10}" class="radio-label multiple" >Paid Service</label>
                                        </div>
                                    </li>
                                </ul>
                                <span class="error">
                                        <p id="radio_error${i}" style="color: red;"></p>
                                    </span>
                                </div>
                            </div> <br>`;


        }
        var p = document.getElementById('multiSlotType')
        p.innerHTML = t;
    }


    function multiAvailibility() {
        // alert('inside multiAvailibility function')
        var selectSlotType = sessionStorage.getItem('availabilityType').split(",")
        var multiSlots = sessionStorage.getItem('multiSelectDate').split(",");
        var u = "";
        for (var i = 0; i < multiSlots.length; i++){
            u += `<div class="checkAvailability">

            <div class="avaliblitytitles">
            <ul>
            <li>
            <span><a href="javaScript:void(0)">
            ${multiSlots[i]}
            </a></span>
            </li>
            <li class="titleav"><span class="mainHeading mainHeading1">Add Title</span>
            <div class="titleBoxs titleBoxs1">
            <div class="form-group">
            <label for="" class="label" style="padding: 0;">Add Tittle</label>
            <input type="text" class="form-control formControl"
            placeholder="Add Title" name="multi_title" id="multi_title_id${i}">
            </div>
            <div class="functionbtn">
            <span class="cancle">Cancel</span>
            <span class="savednew closed multi_title" id="${i}">Save</span>
            </div>
            </div>
            </li>
            <li class="titleav"><span class="mainHeading mainHeading2" style=${(selectSlotType[i].trim() == 'Volunteer') ? "display:none" : "display:block"}>Add Hourly Fees</span>
            <div class="titleBoxs titleBoxs2">
            <div class="form-group">
            <label for="" class="label" style="padding: 0;">Add Tittle</label>
            <input type="text" class="form-control formControl"
            placeholder="Add Title" name="multi_fee" id="multi_fee_idfee${i}">
            </div>
            <div class="functionbtn">
            <span class="cancle">Cancel</span>
            <span class="savednew closed multi_fee saved" id="fee${i}">Save</span>
            </div>
            </div>
            </li>
            </ul>
            </div>

            <div class="optionsWrapper">
            <div class="flipSwitch" id="option1">

            <input type="checkbox" name="${i}" id="option1-value3${i}" value="07:00 AM to 08:00 AM" >
            <label for ="option1-value3${i}" class="radio-label">07:00 AM to 08:00 AM</label>

            <input type="checkbox" name="${i}" id="option1-value4${i}" value="08:00 AM to 09:00 AM">
            <label  for ="option1-value4${i}" class="radio-label">08:00 AM to 09:00 AM</label>

            <input type="checkbox" name="${i}" id="option1-value1${i}" value="09:00 AM to 10:00 AM" >
            <label for="option1-value1${i}" class="radio-label">09:00 AM to 10:00 AM</label>

            <input type="checkbox" name="${i}" id="option1-value2${i}" value="10:00 AM to 11:00 AM">
            <label for="option1-value2${i}" class="radio-label">10:00 AM to 11:00 AM</label>

            <input type="checkbox" name="${i}" id="option1-value5${i}" value="11:00 AM to 12:00 PM" >
            <label for ="option1-value5${i}" class="radio-label">11:00 AM to 12:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value6${i}" value="12:00 PM to 01:00 PM">
            <label  for ="option1-value6${i}" class="radio-label">12:00 PM to 01:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value7${i}" value="01:00 PM to 02:00 PM" >
            <label for="option1-value7${i}" class="radio-label">01:00 PM to 02:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value8${i}" value="02:00 PM to 03:00 PM">
            <label for="option1-value8${i}" class="radio-label">02:00 PM to 03:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value9${i}" value="03:00 PM to 04:00 PM" >
            <label for ="option1-value9${i}" class="radio-label">03:00 PM to 04:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value10${i}" value="04:00 PM to 05:00 PM">
            <label  for ="option1-value10${i}" class="radio-label">04:00 PM to 05:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value11${i}" value="05:00 PM to 06:00 PM" >
            <label for="option1-value11${i}" class="radio-label">05:00 PM to 06:00 PM</label>

            <input type="checkbox" name="${i}" id="option1-value12${i}" value="06:00 PM to 07:00 PM">
            <label for="option1-value12${i}" class="radio-label">06:00 PM to 07:00 PM</label>

            <a></a>

            </div>
            </div>
            </div>
                `
        }
        var q = document.getElementById('checkAvailability')
        q.innerHTML = u;
    }





    singleSlot_arr = []
    $(document).on('click', '.availModal ul li a', function () {
        var x = $(this).text();
        // alert(singleSlot_arr)
        singleSlot_arr.push(x)
        sessionStorage.setItem('singleSelectSlot', singleSlot_arr)
        // alert(sessionStorage.getItem('singleSlot_arr'))
    });

    $(document).on('click', '#radio-77', function () {
        // alert('clicked radio-77')
        var x = $(this).val();
        sessionStorage.setItem('selectSlotType', x)
    });
    $(document).on('click', '#radio-78', function () {
        // alert('clicked radio-78')
        var x = $(this).val();
        sessionStorage.setItem('selectSlotType', x)
    });
    $(document).on('click', '#category', function () {
        var x = $(this).val();
        sessionStorage.setItem('categoryType', x)
    });
    function simple() {
        console.log(sessionStorage.getItem('singleSelectDate'))
        var d = sessionStorage.getItem('singleSelectDate')
        var e = sessionStorage.getItem('singleSelectSlot')
        var f = sessionStorage.getItem('selectSlotType')
        var g = sessionStorage.getItem('categoryType')
        var h = sessionStorage.getItem('singleTitle')
        var i = sessionStorage.getItem('singleFees')
        if (h == '' || h == null){
            alert('Please enter title')
        }
        else if((f.trim() == 'Paid Service' && i == '') || (f.trim() == 'Paid Service' && i == null)){
            alert('Please enter fees')
        }
        else if (e == '' || e==null){
            alert('Please select a slot')
        }
        else{
            var url = "{% url 'userapp:create-slot' %}"
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                selected_date: d,
                selected_slot: e,
                select_slot_type: f,
                category_type: g,
                title: h,
                fee: i,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                var protocol = window.location.protocol
                var hostname = window.location.hostname
                var port = window.location.port
                var url = protocol + "//" + hostname + ":" + port + "/provider-availability" + "/"
                sessionStorage.removeItem('singleSelectSlot')
                sessionStorage.removeItem('singleSelectDate')
                sessionStorage.removeItem('selectSlotType')
                sessionStorage.removeItem('categoryType')
                sessionStorage.removeItem('singleTitle')
                sessionStorage.removeItem('singleFees')
                sessionStorage.removeItem('availabilityType')
                window.location.href = url
            },
            error: function (data) {
                alert('One or more field is empty. Please fill all the required fields')
            },
        });
        }
    }





</script>
<script>

    function multiSlotCreate() {
        var d = sessionStorage.getItem('multiSelectDate')
        var e = sessionStorage.getItem('multiSlots')
        var f = sessionStorage.getItem('availabilityType')
        var g = sessionStorage.getItem('multiCategoryType')
        var h = sessionStorage.getItem('multiTitle')
        var i = sessionStorage.getItem('multiFee')
        console.log(d, e, f, g)
        var url = "{% url 'userapp:create-multi-slot' %}"
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                selected_date: d,
                selected_slot: e,
                select_slot_type: f,
                category_type: g,
                multi_title: h,
                multi_fee: i,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                var protocol = window.location.protocol
                var hostname = window.location.hostname
                var port = window.location.port
                var url = protocol + "//" + hostname + ":" + port + "/provider-availability" + "/"
                sessionStorage.removeItem('multiSelectDate')
                sessionStorage.removeItem('multiSlots')
                sessionStorage.removeItem('availabilityType')
                sessionStorage.removeItem('multiCategoryType')
                sessionStorage.removeItem('multiTitle')
                sessionStorage.removeItem('multiFee')
                window.location.href = url
            },
            error: function (data) {
                alert('One or more field is empty. Please fill all the required fields')
            },
        });
    }





</script>
<script>
    $(document).on('click','.fc-other-month.fc-future',function(){
        alert("Please go to next month to create slot in next month");
    });
</script>


<script>
    $(document).on('click', '.title .small', function () {
        // ('.titlslide').slideDown();
        $(this).siblings('.titlslide').slideDown();

    });

    $(document).on('click', '.title2 .small', function () {
        $(this).siblings('.titlslide2').slideDown();
    });

    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".title ,.titlslide"))
            return;
        $('.titlslide').hide();
    });
    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".title2 ,.titlslide2"))
            return;
        $('.titlslide2').hide();
    });

</script>
<script>
    $(document).on('click', '.closed', function () {
        $('.tiitlebox').hide();
    });
    $(document).on('click', '.closedd', function () {
        $('.modal-backdrop.show').addClass('demo');
        $('body').removeClass('modal-open');
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar1');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            timeZone: 'UTC',
            defaultView: 'dayGridMonth',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            editable: true,

            events: [
                {% for event in object_list %}
                        {
                title: "{{ event.title}}",
                start: "{{ event.slot_date|date:'Y-m-d' }}",
                id: "{{ event.id }}",
                url: '/calendar-event/?date=' + '{{ event.slot_date|date:"Y-m-d" }}'
            },

            {% endfor %}
                ],
        eventClick: function (event) {
            if (event.url) {
                window.open(event.url, "_blank");
            }
        },
            
        });

    calendar.render();
  });


</script>

{% endblock body %}