{% extends 'userapp/provider-base.html' %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="availablity">
    <!--    <div class="fc-today">-->
    <!--        {% for object in object_list %}-->
    <!--        <tr>-->
    <!--            <td><h1>{{object.id}}</h1></td>-->
    <!--            <td><h1 class="fc-day-top  fc-today">{{object.slot_date}}</h1></td>-->
    <!--            <td><h1>{{object.slot_time}}</h1></td>-->
    <!--            <td><h1>{{object.select_slot_type}}</h1></td>-->
    <!--            <td><h1>{{object.category}}</h1></td>-->
    <!--        </tr>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <div class="container">
        <div class="availablityMain">
            <ul class="nav nav-tabs ml-0">
                <li class="active first">
                    <a>
                        <div class="radio">
                            <input id="radio-30" name="radio3" type="radio">
                            <label for="radio-30" class="radio-label single">Single</label>
                        </div>
                    </a>
                </li>
                <li class="second">
                    <a>
                        <div class="radio">
                            <input id="radio-40" name="radio3" type="radio">
                            <label for="radio-40" class="radio-label multiple">Multiple Date</label>
                        </div>
                    </a>
                </li>
            </ul>
            <div id='calendar1' class="calender"></div>
            <!-- <div id='calendar2' class="multipleId"></div> -->
            <div class="text-center" style="padding-top: 50px;">
                <a href="javaScript:void(0)" class="Button bg-violet popnext" onclick="multiSlotTypeFun()">Next</a>
            </div>
        </div>
    </div>
</section>
<div class="modalBox availbleModal">
    <div class="modal" id="MultipleSelect">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div id="checkAvailability">
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a onclick="multiSlotCreate()" class="Button bg-violet">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="MultipleSelect2">
        <div class="modal-dialog" style="max-width:67%;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot" style="overflow-y: auto;">
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">
                                <span><a href="javaScript:void(0)" id="slot_timing">
                                    </a></span>
                                <span class="addTittle title"><a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky">Add
                                        Title</a>
                                    <div class="tiitlebox titlslide">
                                        <div class="form-group">
                                            <label for="" class="label" style="padding: 0;" id="title">Add Tittle</label>
                                            <input type="text" class="form-control formControl" placeholder="Add Title" name="single_title">
                                        </div>
                                        <div>
                                            <ul class="titleFlex">
                                                <li>
                                                    <a class="btns button closed">
                                                        Cancel
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btns button closed" id="single_title">
                                                        Save
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </span>

                                <span class="addTittle title2"><a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block violet">Add
                                        Hourly Fees</a>
                                    <div class="tiitlebox titlslide2">
                                        <div class="form-group">
                                            <label for="" class="label" style="padding: 0;" id="fee">Add Fee</label>
                                            <input type="number" class="form-control formControl" placeholder="Add Fee" name="single_fee">
                                        </div>
                                        <div>
                                            <ul class="titleFlex">
                                                <li>
                                                    <a class="btns button closed">
                                                        Cancel
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btns button closed" id="single_price">
                                                        Save
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </span>

                            </h2>
                            <div class="availModal" style="padding-bottom: 75px;">
                                <ul>
                                    <li><a href="javaScript:void(0)">07:00 AM to 08:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">08:00 AM to 09:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">09:00 AM to 10:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">10:00 AM to 11:00 AM</a></li>
                                    <li><a href="javaScript:void(0)">11:00 AM to 12:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">01:00 PM to 02:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">02:00 PM to 03:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">03:00 PM to 04:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">04:00 PM to 05:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">05:00 PM to 06:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">06:00 PM to 07:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" class="Button bg-violet" onclick="simple()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="MultipleEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' } %" alt=""></a></span>

                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'userapp/imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'imgs/awesome-edit.webp'}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span class="violet pl-2 small">Lorem ipsum<a href="javaScript:void(0)"
                                        class="small pl-2 d-inline-block darkSky"><img
                                            src="{% static 'imgs/awesome-edit.webp' %}" alt=""></a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" data-dismiss="modal" class="Button bg-violet ">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="SingleSelect">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                    <div class="availabilitySlot">
                        <div class="checkAvailability">
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">May-05-2021
                                <span><a href="javaScript:void(0)" class="small pl-2 d-inline-block darkSky">Add
                                        Title</a></span>
                            </h2>
                            <div class="availModal">
                                <ul>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)">12:00 PM to 01:00 PM</a></li>
                                    <li><a href="javaScript:void(0)" class="active">12:00 PM to 01:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btnsBottom">
                        <div class="modBt">
                            <a href="javascript:void(0)" data-dismiss="modal" class="Button bg-violet">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="multiModal">
        <div class="modal-dialog" style=" max-width: 575px;">
            <div class="modal-content">
                <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static 'userapp/imgs/close.svg' %}" alt="close"></button>
                <div class="modal-body" style="position: relative;height: 540px;overflow-y: scroll;">


                    <div class="selectdate" style="padding: 25px;padding-bottom: 0;">
                        <p class="d">Select your availability type</p>
                        <div id="multiSlotType">

                        </div>
                        <div class="btnsBottom btnsBoking">
                            <div class="modBt" style="text-align: center;">
                                <a href="javascript:void(0)" class="Button Button-violet-alt closee"
                                    style="min-width: 140px;">Cancel</a>
                                <a href="javascript:void(0)" class="Button bg-violet closee" style="min-width: 140px;"
                                    data-toggle="modal" data-dismiss="modal" data-target="#MultipleSelect">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="singleModal">
        <div class="modal-dialog" style=" max-width: 575px;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close closee" data-dismiss="modal"><img
                            src="{% static '/userapp/imgs/close.svg' %}" alt="close"></button>

                    <div class="selectdate" style="padding: 25px;padding-bottom: 0;">
                        <p class="head selectedd" id="slot_date"></p>
                        <p class="d">Select your availability category & type</p>
                        <div class="availablityMain availablityMain2 ">
                            <div class="categoryAll">
                                <h2 class="cate">Category</h2>
                                <select name="cars" id="category" class="form-control formControl"
                                    style="padding: 15px;">
                                    <option>Select Category</option>
                                    <option value="Legal Assistance">Legal Assistance</option>
                                    <option value="Therapeutical Help">Therapeutical Help</option>
                                    <option value="Counselling">Counselling</option>
                                </select>
                            </div>
                            <h2 class="cate">Type</h2>
                            <ul class="nav nav-tabs singleAmit" style="margin: 0;display: flex;padding: 0px 0px 10px;">
                                <li class="active first">
                                    <div class="radio">
                                        <input id="radio-77" name="radio3" type="radio" value="Volunteer">
                                        <label for="radio-77" class="radio-label single">Volunteer
                                            <a href="#" class="amitInfo" title="hi this is freeeeeeeee"><i
                                                    class="fa fa-info-circle"></i></a>
                                        </label>
                                    </div>

                                </li>

                                <li class="second">

                                    <div class="radio">

                                        <input id="radio-78" name="radio3" type="radio" value="Paid Service">

                                        <label for="radio-78" class="radio-label multiple">Paid Service</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btnsBottom btnsBoking">
                            <div class="modBt" style="text-align: center;">
                                <a href="javascript:void(0)" class="Button Button-violet-alt closee"
                                    style="min-width: 140px;">Cancel</a>
                                <a href="javascript:void(0)" class="Button bg-violet closee" style="min-width: 140px;"
                                    data-toggle="modal" data-target="#MultipleSelect2">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'userapp/provider/js/jquery.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/bootstrap.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarCorePackage.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarDayGrid.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarInteraction.4.1.0.min.js' %}"></script>
<script src="{% static 'userapp/provider/js/FullCalendarTimeGrid.4.1.0.min.js' %}"></script>

<script>
    var radio_button_value_arr = []
    var multi_radio_button_value_arr = []
    var multi_title = []
    var multi_fee = []
    $(document).on('click', '.multi_fee', function () {
        var z = $(this).prop('id');
        var a = "#multi_fee_id"+z;
        var x = $(a).val();
        multi_fee.push(x)
        sessionStorage.setItem('multiFee', multi_fee)
    });


    $(document).on('click', '.multi_title', function () {
        var z = $(this).prop('id');
        var a = "#multi_title_id"+z;
        var x = $(a).val();
        multi_title.push(x)
        sessionStorage.setItem('multiTitle', multi_title)
    });



    $(document).on('click', '#single_title', function () {
        var x = $("input[name=single_title]").val();
        var y = document.getElementById('title')
        y.innerHTML = x;
        sessionStorage.setItem('singleTitle', x)
    });

    $(document).on('click', '#single_price', function () {
        var x = $("input[name=single_fee]").val();
        var y = document.getElementById('fee')
        y.innerHTML = x;
        console.log('SINGLE FEES',x)
        sessionStorage.setItem('singleFees', x)
    });

    $(document).on('click', '.radio-label', function () {
        var x = $(this).text();
        if (x == 'Volunteer') {
            radio_button_value_arr.push(x)
            sessionStorage.setItem('availabilityType', radio_button_value_arr)
        }
    });

    $(document).on('click', '.radio-label', function () {
        var x = $(this).text();
        if (x == 'Paid Service') {
            radio_button_value_arr.push(x)
            sessionStorage.setItem('availabilityType', radio_button_value_arr)
        }
    });



    $(document).on('click', '.radio-label', function () {

        var x = $(this).text();
        if (x == '07:00 AM to 08:00 AM' || x == '08:00 AM to 09:00 AM' || x == '09:00 AM to 10:00 AM' || x == '10:00 AM to 11:00 AM' || x == '11:00 AM to 12:00 pM' || x == '12:00 PM to 01:00 PM' || x == '01:00 PM to 02:00 PM' || x == '02:00 PM to 03:00 PM' || x == '03:00 PM to 04:00 PM' || x == '04:00 PM to 05:00 PM' || x == '05:00 PM to 06:00 PM' || x == '06:00 PM to 07:00 PM') {
            multi_radio_button_value_arr.push(x)
            sessionStorage.setItem('multiSlots', multi_radio_button_value_arr)
            console.log(multi_radio_button_value_arr)
        }
    });

    var category_arr = []
    $(document).on('click', '#multicategory', function () {
        var x = $(this).val();
        category_arr.push(x)
        sessionStorage.setItem('multiCategoryType', category_arr)
    });

    function multiSlotTypeFun() {
        var multiSlots = sessionStorage.getItem('multiSelectDate').split(",")
        var t = "";
        var u = "";
        for (var i = 0; i < multiSlots.length; i++) {
            t += `<div class="slote">
                                <p class="head selectedd">Selected Date : <span class="dated">${multiSlots[i]}</span>
                                </p>

                                <div class="availablityMain availablityMain2 ">
                                    <div class="categoryAll">
                                        <h2 class="cate">Category</h2>
                                        <select name="cars" id="multicategory" class="form-control formControl"
                                            style="padding: 15px;">
                                            <option>Select Category</option>
                                            <option value="Legal Assistance">Legal Assistance</option>
                                            <option value="Therapeutical Help">Therapeutical Help</option>
                                            <option value="Counselling">Counselling</option>
                                        </select>
                                    </div>
                                    <h2 class="cate">Type</h2>
             <ul class="nav nav-tabs" style="margin: 0;padding: 0px 0px 10px;">
                                    <li class="active first">
                                        <div class="radio">
                                            <input id="radio-40${i}" name="${i}" type="radio" value="Volunteer">
                                            <label for="radio-40${i}" class="radio-label single" >Volunteer
                                            <a href="#" class="amitInfo" title="hi this is freeeeeeeee"><i class="fa fa-info-circle"></i></a>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-40${i + 10}" name="${i}" type="radio" value="Paid Service">
                                            <label for="radio-40${i + 10}" class="radio-label multiple" >Paid Service</label>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </div> <br>`;

            u += `<div class="checkAvailability">
<!--                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">${multiSlots[i]}-->
<!--                                <span><a href="javaScript:void(0)" class="small pl-2 d-inline-block darkSky">Add-->
<!--                                            Title</a></span>-->
<!--                                <span><a href="javaScript:void(0)" class="small pl-2 d-inline-block violet">Add-->
<!--                                            Hourly Fees</a></span>-->

<!--                            </h2>-->
                            <h2 class="normalFont text-left pb-3" style="font-size: 18px;">${multiSlots[i]}

<span class="addTittle title"><a href="javaScript:void(0)" class="small pl-2 d-inline-block darkSky">Add
Title</a>
<div class="tiitlebox titlslide">
    <div class="form-group">
        <label for="" class="label" style="padding: 0;">Add Tittle</label>
        <input type="text" class="form-control formControl " placeholder="Add Title" name="multi_title" id="multi_title_id${i}">
    </div>
    <div>
        <ul class="titleFlex">
            <li>
                <a class="btns button closed">
                    Cancel
                </a>
            </li>
            <li>
                <a class="btns button closed multi_title" id="${i}">
                    Save
                </a>
            </li>
        </ul>
    </div>
</div>
</span>

<span class="addTittle title2"><a href="javaScript:void(0)" class="small pl-2 d-inline-block violet">Add
Hourly Fees</a>
<div class="tiitlebox titlslide2">
    <div class="form-group">
        <label for="" class="label" style="padding: 0;">Add Fee</label>
        <input type="number" class="form-control formControl" placeholder="Add Fee" name="multi_fee" id="multi_fee_idfee${i}">
    </div>
    <div>
        <ul class="titleFlex">
            <li>
                <a class="btns button closed">
                    Cancel
                </a>
            </li>
            <li>
            <a class="btns button closed multi_fee" id="fee${i}">
                Save
            </a>
            </li>
        </ul>
    </div>
</div>
</span>

</h2>

<div class="optionsWrapper">
  <div class="flipSwitch" id="option1">

    <input type="radio" name="${i}" id="option1-value3${i}" value="07:00 AM to 08:00 AM" checked="">
    <label for ="option1-value3${i}" class="radio-label">07:00 AM to 08:00 AM</label>

    <input type="radio" name="${i}" id="option1-value4${i}" value="08:00 AM to 09:00 AM">
    <label  for ="option1-value4${i}" class="radio-label">08:00 AM to 09:00 AM</label>

    <input type="radio" name="${i}" id="option1-value1${i}" value="09:00 AM to 10:00 AM" >
    <label for="option1-value1${i}" class="radio-label">09:00 AM to 10:00 AM</label>

    <input type="radio" name="${i}" id="option1-value2${i}" value="10:00 AM to 11:00 AM">
    <label for="option1-value2${i}" class="radio-label">10:00 AM to 11:00 AM</label>


    <input type="radio" name="${i}" id="option1-value5${i}" value="11:00 AM to 12:00 PM" checked="">
    <label for ="option1-value5${i}" class="radio-label">11:00 AM to 12:00 PM</label>

    <input type="radio" name="${i}" id="option1-value6${i}" value="12:00 PM to 01:00 PM">
    <label  for ="option1-value6${i}" class="radio-label">12:00 PM to 01:00 PM</label>

    <input type="radio" name="${i}" id="option1-value7${i}" value="01:00 PM to 02:00 PM" >
    <label for="option1-value7${i}" class="radio-label">01:00 PM to 02:00 PM</label>

    <input type="radio" name="${i}" id="option1-value8${i}" value="02:00 PM to 03:00 PM">
    <label for="option1-value8${i}" class="radio-label">02:00 PM to 03:00 PM</label>

    <input type="radio" name="${i}" id="option1-value9${i}" value="03:00 PM to 04:00 PM" checked="">
    <label for ="option1-value9${i}" class="radio-label">03:00 PM to 04:00 PM</label>

    <input type="radio" name="${i}" id="option1-value10${i}" value="04:00 PM to 05:00 PM">
    <label  for ="option1-value10${i}" class="radio-label">04:00 PM to 05:00 PM</label>

    <input type="radio" name="${i}" id="option1-value11${i}" value="05:00 PM to 06:00 PM" >
    <label for="option1-value11${i}" class="radio-label">05:00 PM to 06:00 PM</label>

    <input type="radio" name="${i}" id="option1-value12${i}" value="06:00 PM to 07:00 PM">
    <label for="option1-value12${i}" class="radio-label">06:00 PM to 07:00 PM</label>

    <a></a>

  </div>
</div>
</div>
`
        }
        var p = document.getElementById('multiSlotType')
        p.innerHTML = t;
        var q = document.getElementById('checkAvailability')
        q.innerHTML = u;
    }
    $(document).on('click', '.availModal ul li a', function () {
        var x = $(this).text();
        sessionStorage.setItem('singleSelectSlot', x)
    });

    $(document).on('click', '#radio-77', function () {
        var x = $(this).val();
        sessionStorage.setItem('selectSlotType', x)
    });
    $(document).on('click', '#radio-78', function () {
        var x = $(this).val();
        sessionStorage.setItem('selectSlotType', x)
    });
    $(document).on('click', '#category', function () {
        var x = $(this).val();
        sessionStorage.setItem('categoryType', x)
    });
    function simple() {
        console.log(sessionStorage.getItem('singleSelectDate'))
        var d = sessionStorage.getItem('singleSelectDate')
        var e = sessionStorage.getItem('singleSelectSlot')
        var f = sessionStorage.getItem('selectSlotType')
        var g = sessionStorage.getItem('categoryType')
        var h = sessionStorage.getItem('singleTitle')
        var i = sessionStorage.getItem('singleFees')
        console.log(d, e)
        var url = "{% url 'userapp:create-slot' %}"
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                selected_date: d,
                selected_slot: e,
                select_slot_type: f,
                category_type: g,
                title: h,
                fee: i,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                var protocol = window.location.protocol
                var hostname = window.location.hostname
                var port = window.location.port
                var url = protocol + "//" + hostname + ":" + port + "/provider-availability" + "/"
                sessionStorage.removeItem('singleSelectSlot')
                sessionStorage.removeItem('singleSelectDate')
                sessionStorage.removeItem('selectSlotType')
                sessionStorage.removeItem('categoryType')
                sessionStorage.removeItem('singleTitle')
                sessionStorage.removeItem('singleFees')
                sessionStorage.removeItem('availabilityType')
                window.location.href = url
            },
            error: function (data) {
                alert('Something went wrong')
            },
        });
    }




</script>
<script>
    function multiSlotCreate() {
        var d = sessionStorage.getItem('multiSelectDate')
        var e = sessionStorage.getItem('multiSlots')
        var f = sessionStorage.getItem('availabilityType')
        var g = sessionStorage.getItem('multiCategoryType')
        var h = sessionStorage.getItem('multiTitle')
        var i = sessionStorage.getItem('multiFee')
        console.log(d, e, f, g)
        var url = "{% url 'userapp:create-multi-slot' %}"
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                selected_date: d,
                selected_slot: e,
                select_slot_type: f,
                category_type: g,
                multi_title: h,
                multi_fee: i,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                var protocol = window.location.protocol
                var hostname = window.location.hostname
                var port = window.location.port
                var url = protocol + "//" + hostname + ":" + port + "/provider-availability" + "/"
                sessionStorage.removeItem('multiSelectDate')
                sessionStorage.removeItem('multiSlots')
                sessionStorage.removeItem('availabilityType')
                sessionStorage.removeItem('multiCategoryType')
                sessionStorage.removeItem('multiTitle')
                sessionStorage.removeItem('multiFee')
                window.location.href = url
            },
            error: function (data) {
                alert('Something went wrong')
            },
        });
    }




</script>
<script>
    $(document).on('click', '.title', function () {
        // ('.titlslide').slideDown();
        $(this).find('.titlslide').slideDown();

    });

    $(document).on('click', '.title2', function () {
        $(this).find('.titlslide2').slideDown();
    });

    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".title ,.titlslide"))
            return;
        $('.titlslide').hide();
    });
    document.addEventListener("mousedown", function (event) {
        if (event.target.closest(".title2 ,.titlslide2"))
            return;
        $('.titlslide2').hide();
    });
</script>
<script>
$(document).on('click','.closed',function(){
  $('.tiitlebox').hide();
});
</script>
{% endblock body %}