{% extends 'userapp/base.html' %}
{% block body %}
<section class="recordFills recordFills22" style="background-image: url('userapp/imgs/bg2.png');">
    <div class="container">
        <div class="">
            <div class="recordsfil">
                <h2>Frequently Asked Questions</h2>

                <div class="recordAccordian">

                    <div class="patientAccordian patientAccordiannew">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseOne">
                                    <h4 class="panel-title">What does BRASI do?</h4>

                                </div>
                                <div id="collapseOne" class="panel-collapse collapse  in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseTwo">
                                    <h4 class="panel-title">How can BRASI help me?</h4>

                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseThree">
                                    <h4 class="panel-title">Who is BRASI for?</h4>

                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseFour4">
                                    <h4 class="panel-title">Can I trust BRASI with my private information?</h4>

                                </div>
                                <div id="collapseFour4" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseFour">
                                    <h4 class="panel-title">Was my experience a sexual assault?</h4>

                                </div>
                                <div id="collapseFour" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapsefive">
                                    <h4 class="panel-title">I think I have been sexually assaulted. What should I do
                                        next?</h4>

                                </div>
                                <div id="collapsefive" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapsesix">
                                    <h4 class="panel-title">I am worried that other people have been harmed by the same
                                        offender. What can I do?</h4>

                                </div>
                                <div id="collapsesix" class="panel-collapse collapse in show">
                                    <div class="panel-body">
                                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                                            viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                            sed rhoncus pronin sapien nunc accuan eget.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>
{% endblock body %}