{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brasi | Home</title>
    <!-- Bootstrap -->
    <link href="{% static 'userapp/imgs/logo.svg' %}" rel="icon" type="icon/image">
    <link href="{% static 'userapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'userapp/css/niceCountryInput.css' %}" rel="stylesheet">
    <link href="{% static 'userapp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'userapp/css/style2.css' %}" rel="stylesheet">
    <link href="{% static 'userapp/css/media.css' %}" rel="stylesheet">
</head>

<body>
<section class="welcomeBord">
    <div class="container">
        <h2>Welcome to BRASI</h2>
        <a href="javascript:void(0)"><img src="{% static 'userapp/imgs/cut.svg' %}" alt="close"></a>
    </div>
</section>
<section class="socialicons">
    <div class="container">
        <div class="socialInner">
            <ul>
                <li><a href="https://www.google.com/" target="_blank" class="Quickexit">Quick Exit</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>

    </div>
</section>

{% include 'userapp/common-headers.html' %}

<section class="scalable">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="scaleLeft">
                    <h2>Scalable Technology To Deter <span class="colorPurple">Sexual</span> &
                        <span class="colorGreen">Domestic Violence</span>
                    </h2>
                    <p class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum.</p>
                    <a href="javascript:void(0)" class="btns" data-toggle="modal" data-target="#firstmodal">Get
                        Started</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="scaleRight">
                    <img src="{% static 'userapp/imgs/girl.svg' %}" alt="girl">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benifits padding" style="background-image: url('static/userapp/imgs/bg1.png');">
    <div class="container">
        <div class="benfiltIn">
            <h2 class="head">Benefits</h2>
            <p class="head">Explore great benefits of using brasi.</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/benfit.png' %}" alt="benift">
                        </div>
                        <h2 class="heading">Detects Repeat <br>
                            <span class="colorGreen">Offenders</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/benfit2.png' %}" alt="benift">
                        </div>
                        <h2 class="heading">Provides Platform for
                            <span class="colorGreen">Carthartic Release</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/benfit3.png' %}" alt="benift">
                        </div>
                        <h2 class="heading">Faciliates <br>
                            <span class="colorGreen">Collaborate Evidence</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature padding">
    <div class="container">
        <div class="featurein">
            <h2 class="head">Features</h2>
            <div class="row" style="align-items: center;">
                <div class="col-sm-6">
                    <div class="featureImg">
                        <img src="{% static 'userapp/imgs/feature.svg' %}" alt="feature">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feautreCont">
                        <h2 class="heading">
                            Technology To Deter <br>
                            <span class="colorGreen">Sexual</span> & <span class="colorGreen">Domestic
                                    Violence</span>
                        </h2>
                        <p class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                            vero eos et accusam et justo duo dolores et ea rebum.Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                            vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="workAll workAllColor padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="workIn">
                    <h2 class="heading">Work Together With <br>
                        <span class="colorGreen">Less Friction</span>
                    </h2>
                    <p class="head">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        duo
                        dolores et ea rebum.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos
                        et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="workImg textRight">
                    <img src="{% static 'userapp/imgs/work1.svg' %}" alt="work">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="workAll padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="workImg textLeft">
                    <img src="{% static 'userapp/imgs/work2.svg' %}" alt="work">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="workIn">
                    <h2 class="heading">Get Organized <br>
                        <span class="colorGreen">Better</span>
                    </h2>
                    <p class="head">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        duo
                        dolores et ea rebum.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos
                        et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="workAll workAllColor2 padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="workIn">
                    <h2 class="heading">Quotes From <br>
                        <span class="colorGreen">Customers</span>
                    </h2>

                    <p class="head">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        duo
                        dolores et ea rebum.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos
                        et accusam et justo duo dolores et ea rebum.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="workImg textRight">
                    <img src="{% static 'userapp/imgs/work3.svg' %}" alt="work">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benifits barsi padding" style="background-image: url('static/userapp/imgs/bg2.svg');">
    <div class="container">
        <div class="benfiltIn">
            <h2 class="head">How BRASI <span class="colorPurple">Works ?</span></h2>
            <p></p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/brasi1.svg' %}" alt="brasi">
                        </div>
                        <h2 class="heading">Diarise Your <br>
                            <span class="colorGreen">Experience</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/brasi2.svg' %}" alt="brasi">
                        </div>
                        <h2 class="heading">Platform Identifies <br>
                            <span class="colorGreen">Repeat Perpetrator</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="benfitInner">
                        <div class="benifitImg">
                            <img src="{% static 'userapp/imgs/brasi3.svg' %}" alt="brasi">
                        </div>
                        <h2 class="heading">Explore Your Options <br>
                            & Find <span class="colorGreen">Resources For Help</span>
                        </h2>
                        <p class="head pb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>
            </div>
            <div class="brasiBtn">
                <a href="javascript:void(0)" class="btns">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="touch workAllColor2 padding">
    <div class="container">
        <div class="touchIn">
            <h2 class="heading">Stay In <span class="colorPurple">Touch</span></h2>
            <div class="form-group stayIn">
                <input type="text" class="form-control" placeholder="Enter Email Address">
                <button class="btns">Sign Up</button>
            </div>
        </div>
    </div>
</section>

<footer class="footerAll padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="footerLeft">
                    <div class="footerlogo">
                        <img src="{% static 'userapp/imgs/logo.svg' %}" alt="logo">
                    </div>
                    <p class="copyRight">
                        Copyright © 2021 <span class="colorGreen">BRASI</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footerMiddle">
                    <ul>
                        <li>FAQs</li>
                        <li><a href="javascript:void(0)"> For Survivors</a></li>
                        <li><a href="javascript:void(0)"> For Service Providers</a></li>
                        <li><a href="javascript:void(0)">For License Holders</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footerMiddle right">
                    <ul>
                        <li>Follow/Contact Us
                        </li>
                        <li><a href="javascript:void(0)">Twitter</a></li>
                        <li><a href="javascript:void(0)">Facebook</a></li>
                        <li><a href="javascript:void(0)">Instagram</a></li>
                        <li><a href="javascript:void(0)">Email</a></li>
                        <li><a href="javascript:void(0)">Term of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>