{% extends 'userapp/base.html' %}
{% block body %}


<div class="container">
    <h2 class="head">My Profile</h2>
    <div class="profileIn">
        <form action="">
            <div class="form-group">
                <div class="imguploader">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url(./imgs/profile.svg);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group formgroup" style="position: relative;">
                <label for="" class="labell">First Name</label>
                <input type="text" class="form-control formControl" placeholder="First Name"
                       style="padding-right: 40px;">
                <span class="eye"><i class="fa fa-user"></i></span>
            </div>
            <div class="form-group formgroup" style="position: relative;">
                <label for="" class="labell">Last Name</label>
                <input type="text" class="form-control formControl" placeholder="Last Name"
                       style="padding-right: 40px;">
                <span class="eye"><i class="fa fa-user"></i></span>
            </div>
            <div class="form-group formgroup" style="position: relative;">
                <label for="" class="labell">Change Password</label>
                <input type="password" class="form-control formControl passShow" placeholder="Change Password"
                       style="padding-right: 40px;">
                <span class="eye"><i class="fa fa-eye"></i></span>
            </div>
            <div class="form-group formgroup" style="position: relative;">
                <label for="" class="labell">Phone Number</label>
                <input type="text" class="form-control formControl" placeholder="Phone Number"
                       style="padding-right: 40px;">
                <span class="eye"><i class="fa fa-phone"></i></span>
            </div>


            <div class="submitBtn">
                <button type="submit" formaction="index.html">Save</button>
            </div>
        </form>
    </div>
</div>


{% endblock body %}