{% load static %}
<html lang="en-us">

<head>
    <title>Brasi | Sign In</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<section class="loginAll">
    <div class="loginDetail">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="loginDett">
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group formgroup">
                <h3>Your Password has been reset</h3>
                <a href="{% url 'userapp:home' %}">Sign in here</a>

            </div>
        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>