{% extends 'userapp/base.html' %}
{% load static %}
{% block body %}
<section class="paymentinfo" style="background-image: url(./imgs/bgpay.png);">
    <div class="container">
        <div class="paymentDemo">
            <h2 class="head">Your payment information</h2>
            <p class="head">Choose your payment method</p>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="paymentLeft">
                    <div class="signUpby payments">

                        <ul class="nav nav-tabs" style="padding-bottom: 15px !important;">
                            <li class=" first">

                                <div class="radio">
                                    <input id="Payment1" name="Payment" type="radio" checked>
                                    <label for="Payment1" class="radio-label"><span class="con">Paypal</span>
                                        <span>Safe payment online. Credit card needed.
                                            <span class="pay" style="padding-left: 95px;"><img src="{% static 'userapp/imgs/paypal.png' %}"
                                                                                               alt="paypal"></span>
                                        </span>
                                    </label>
                                </div>

                            </li>
                            <li class="second">
                                <div class="radio">
                                    <input id="Payment2" name="Payment" type="radio">
                                    <label for="Payment2" class="radio-label"><span class="con">Domestic Violence</span>
                                        <span>Safe money transfer using your bank account.
                                            <span class="pay">
                                                <img src="{% static 'userapp/imgs/visa.png' %}" style="width: 30px;" alt="">
                                            </span>
                                            <span class="pay">
                                                <img src="{% static 'userapp/imgs/american.png' %}" style="width: 30px;" alt="">
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </li>
                            <li class="third">
                                <div class="radio">
                                    <input id="Payment3" name="Payment" type="radio">
                                    <label for="Payment3" class="radio-label"><span class="con">Voucher</span>

                                    </label>
                                </div>
                            </li>

                        </ul>
                        <div class="voucher">
                            <div class="form-group">
                                <input type="text" class="form-control formControl inputValue2"
                                       placeholder="Enter Voucher Code">
                                <a href="javascript:void(0)" class="btns modalbtns submitt">Apply</a>
                                <!-- <a href="javascript:void(0)" class="viewVoucher" data-toggle="modal"
                                data-target="#voucher">View Voucher</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Credit Card Number*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="CVV Code">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Expiry Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Name On Card">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Zip/Postal Code">
                            </div>
                        </div>
                    </div>
                    <div class="recordbtns" style="padding-top: 20px;">
                        <div class="remember form-group" style="margin-bottom: 0;">
                            <div class="CheckBox homo2"><input type="checkbox" id="check"><span class="Check"><span
                                    class="rem">I have read all <span class="colorGreen">Cancellations</span> and <span
                                    class="colorGreen">Refund Policy</span> of BRASI.
                                    </span>
                                </span></div>
                        </div>
                        <div class="modBt">
                            <a href="javascript:void(0)" class="btns modalbtns submitt" data-toggle="modal"
                               data-target="#pay">Pay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="text-align: right;">
                <img src="{% static 'userapp/imgs/payment.svg' %}" alt="payment" style="width: 75%;">
            </div>
        </div>
    </div>
</section>

<!--<div class="modal" id="pay">-->
<!--    <div class="modal-dialog" style="max-width: 560px;">-->
<!--        <div class="modal-content">-->

<!--            <div class="modal-body" style="padding: 100px 25px;">-->

<!--                <div class="submitrecord submitrecord22">-->
<!--                    <div class="dotsAll">-->
<!--                        <img src="imgs/computer.svg" alt="dits">-->
<!--                    </div>-->
<!--                    <div class="dotsContent">-->
<!--                        <h2 class="head">Your booking request has been successfully-->
<!--                            sent to Deepanshu</h2>-->
<!--                        <p class="head">Look out for a response from Deepanshu</p>-->
<!--                        <div class="modBt">-->

<!--                            <a href="booking-ongoing.html" class="btns modalbtns">OK</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="modal" id="pay">
    <div class="modal-dialog" style="max-width: 560px;">
        <div class="modal-content">

            <div class="modal-body" style="padding: 50px 25px;">
                <button type="button" class="close" data-dismiss="modal"><img src="{% static 'userapp/imgs/close.svg' %}"
                                                                              alt="close"></button>
                <div class="submitrecord submitrecord22">
                    <div class="dotsAll">
                        <img src="{% static 'userapp/imgs/happy.svg' %}" alt="dits" style="width: 100px;">
                    </div>
                    <div class="dotsContent">
                        <h2 class="head">Congratulations! Your booking request has been successfully
                            sent to Deepanshu</h2>
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                <tr>
                                    <td><span class="bold">Service Provider Fee</span></td>
                                    <td>$40/Hour</td>

                                </tr>
                                <tr>
                                    <td><span class="bold">Applied Voucher <span class="colorred">BRASI30</span></span>
                                    </td>
                                    <td>$20/Hour</td>
                                </tr>
                                <tr>
                                    <td><span class="bold">Charged Fee</span></td>
                                    <td>$20/Hour</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <p class="head">Look out for a response from Deepanshu</p>
                        <div class="modBt">

                            <a href="booking-ongoing.html" class="btns modalbtns">OK</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

$(document).on('click','.signUpby ul li',function(){
$('.signUpby ul li').removeClass('active');
$(this).addClass('active');
})
$(document).on('click','.third',function(){
    if($(this).hasClass('active')){
    $('.voucher').slideDown();
    }
else{
    $(this).removeClass('active');
    $('.voucher').slideUp();
    }
});

</script>
{% endblock body %}