<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brasi | Payment</title>
    <!-- Bootstrap -->
    <link href="imgs/logo.svg" rel="icon" type="icon/image">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel='stylesheet' href='css/owl.carousel.min.css'> -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
</head>

<body>

    <section class="socialicons">
        <div class="container">
            <div class="socialInner profileUser">
                <a href="javascript:void(0)">Welcome,Aman <span class="profile"><img src="imgs/profile.svg"
                            alt="profile"></span></a>
                           <div class="profileDettt">
                               <ul>
                                   <li><a href="myprofile.html"><span><img src="imgs/usernew.svg" alt="user"></span>My Profile</a></li>
                                   <li><a href="index.html"><span><img src="imgs/logout.svg" alt="user"></span>Logout</a></li>
                                </ul>
                           </div> 

            </div>

        </div>
    </section>
    <section class="header">
        <div class="container">
            <div class="headerInner">
                <div class="headerLogo">
                    <a href="index.html"><img src="imgs/logo.svg" alt="logo"></a>
                </div>
                <div class="socialRight">
                    <ul>
                        <li><a href="record-an-assault.html" >Record An Assault</a></li>
                        <li><a href="https://www.google.com/" target="_blank" class="Quickexit">Quick Exit</a></li>
                        <li class="survivors"><a href="service-provider.html">Service Providers</a></li>
                        <li><a href="booking-ongoing.html">My Bookings</a></li>
                        <li><a href="faq.html" class="active">FAQs</a></li>
                        <li><a href="contact-us.html">Contact</a></li>
                        <li class="notification"><a href="javascript:void(0)">Notifications</a>
                            <div class="notificationDet">
                                <ul>
                                    <li>
                                        <a href="notification-view.html">
                                            <h2 class="active">Deepanshu Tyagi <span>2 hours</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="notification-view.html" class="pink">
                                            <h2 class="active">Deepanshu Tyagi <span>2 hours</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="white">
                                            <h2>Deepanshu Tyagi <span>2 hours</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="notification-view.html">
                                            <h2 class="active">Deepanshu Tyagi <span>2 hours</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
<section class="paymentinfo" style="background-image: url(./imgs/bgpay.png);">

    <div class="container">
        <div class="paymentDemo">
            <h2 class="head">Your payment information</h2>
            <p class="head">Choose your payment method</p>
         </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="paymentLeft">
                    <div class="signUpby payments">

                        <ul class="nav nav-tabs" style="padding-bottom: 15px !important;">
                            <li class=" first">

                                <div class="radio">
                                    <input id="Payment1" name="Payment" type="radio" checked>
                                    <label for="Payment1" class="radio-label" ><span class="con">Paypal</span>
                                        <span>Safe payment online. Credit card needed.
                                            <span class="pay" style="padding-left: 95px;"><img src="imgs/paypal.png" alt="paypal" ></span>
                                        </span>
                                    </label>
                                </div>

                            </li>
                            <li class="second">
                                <div class="radio">
                                    <input id="Payment2" name="Payment" type="radio" >
                                    <label for="Payment2" class="radio-label" ><span class="con">Domestic Violence</span>
                                        <span>Safe money transfer using your bank account.
                                            <span class="pay">
                                                <img src="imgs/visa.png" style="width: 30px;" alt="">
                                            </span>
                                            <span class="pay">
                                                <img src="imgs/american.png" style="width: 30px;" alt="">
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Credit Card Number*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="CVV Code">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Expiry Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Name On Card">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" placeholder="Zip/Postal Code">
                            </div>
                        </div>
                    </div>
                    <div class="recordbtns" style="padding-top: 20px;">
                        <div class="remember form-group" style="margin-bottom: 0;">
                            <div class="CheckBox homo2"><input type="checkbox" id="check"><span class="Check"><span class="rem">I have read all <span class="colorGreen">Cancellations</span> and <span class="colorGreen">Refund Policy</span> of BRASI.
                                    </span>
                                </span></div>
                        </div>
                        <div class="modBt">
                            <a href="javascript:void(0)" class="btns modalbtns submitt" data-toggle="modal" data-target="#pay">Pay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="text-align: right;">
                <img src="imgs/payment.svg" alt="payment" style="width: 75%;">
            </div>
        </div>
    </div>
</section>

    <footer class="footerAll padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footerLeft">
                        <div class="footerlogo">
                            <img src="imgs/logo.svg" alt="logo">
                        </div>
                        <p class="copyRight">
                            Copyright © 2021 <span class="colorGreen">BRASI</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footerMiddle">
                        <ul>
                            <li>FAQs</li>
                            <li><a href="javascript:void(0)"> For Survivors</a></li>
                            <li><a href="javascript:void(0)"> For Service Providers</a></li>
                            <li><a href="javascript:void(0)">For License Holders</a></li>
                            <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footerMiddle right">
                        <ul>
                            <li>Follow/Contact Us
                            </li>
                            <li><a href="javascript:void(0)">Twitter</a></li>
                            <li><a href="javascript:void(0)">Facebook</a></li>
                            <li><a href="javascript:void(0)">Instagram</a></li>
                            <li><a href="javascript:void(0)">Email</a></li>
                            <li><a href="javascript:void(0)">Term of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <div class="modal" id="pay">
        <div class="modal-dialog" style="max-width: 560px;">
            <div class="modal-content">

                <div class="modal-body" style="padding: 100px 25px;">

                    <div class="submitrecord submitrecord22">
                        <div class="dotsAll">
                            <img src="imgs/computer.svg" alt="dits">
                        </div>
                        <div class="dotsContent">
                            <h2 class="head">Your booking request has been successfully
                                sent to Deepanshu</h2>
                            <p class="head">Look out for a response from Deepanshu</p>
                            <div class="modBt">
                                    
                                <a href="booking-ongoing.html" class="btns modalbtns">OK</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/owl.carousel.min.js"></script> -->
    <script src="js/custom.js"></script>

</body>

</html>