{% extends 'superadmin/new/new-base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="Small-Wrapper">
            <h4 class="Title">
                <span>Hero </span>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#AddModal"> Add New Hero </a>
            </h4>


            <div class="TableList">

                <div class="CustomerTable">
                    <table>
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th width="125px">Title</th>
                            <th>Images</th>
                            <th>Orders</th>
                            <th>Description</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Title 1</td>
                            <td>
                                <div class="Banner">
                                    <img src="https://image.freepik.com/free-vector/tropical-leaves-background-zoom_23-2148580778.jpg">
                                </div>
                            </td>
                            <td>4</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </td>

                            <td>
                                <div class="Actions">
                                    <label class="Switch">
                                        <input type="checkbox"/>
                                        <span class="slider"></span>
                                    </label>

                                    <a class="Green" title="Edit" href="JavaScript:Void(0);" data-toggle="modal"
                                       data-target="#EditModal">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>

                                    <a class="Red" title="Delete" href="JavaScript:Void(0);" data-toggle="modal"
                                       data-target="#DeleteModal">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Title 2</td>
                            <td>
                                <div class="Banner">
                                    <img src="https://image.freepik.com/free-photo/grey-geometrical-shapes-background_23-2148811539.jpg">
                                </div>
                            </td>
                            <td>4</td>

                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </td>

                            <td>
                                <div class="Actions">
                                    <label class="Switch">
                                        <input type="checkbox" checked/>
                                        <span class="slider"></span>
                                    </label>

                                    <a class="Green" title="Edit" href="JavaScript:Void(0);" data-toggle="modal"
                                       data-target="#EditModal">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>

                                    <a class="Red" title="Delete" href="JavaScript:Void(0);" data-toggle="modal"
                                       data-target="#DeleteModal">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="Pagination">
                <ul>
                    <li><a href="#">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>
<div class="ModalBox">

    <div class="modal" id="DeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" data-dismiss="modal" class="CloseModal">×</a>
                        <h3>Delete</h3>
                        <p>Are you sure you want to delete this Hero ?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">No</a>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ActiveModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" data-dismiss="modal" class="CloseModal">×</a>
                        <h3>Active</h3>
                        <p>Are you sure you want to active this Hero ?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">No</a>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="InactiveModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" data-dismiss="modal" class="CloseModal">×</a>
                        <h3>Inactive</h3>
                        <p>Are you sure you want to inactive this Hero ?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">No</a>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="AddModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Category">
                        <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Add Hero </h3>

                        <div class="form-group">
                            <label>Order</label>
                            <select class="form-control">
                                <option>Select Order</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Title </label>
                            <input type="text" class="form-control" placeholder="Enter Title">
                        </div>

                        <div class="form-group">
                            <label>Category Name </label>
                            <textarea class="form-control" rows="4" placeholder="Description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Upload Image </label>
                            <input type="file" class="form-control" placeholder="Enter Category">
                        </div>

                        <button class="Button Cancel">Cancel</button>
                        <button class="Button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="EditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Category">
                        <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Edit Hero </h3>

                        <div class="form-group">
                            <label>Order</label>
                            <select class="form-control">
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Title </label>
                            <input type="text" class="form-control" placeholder="Enter Title" value="Title 1">
                        </div>

                        <div class="form-group">
                            <label>Category Name </label>
                            <textarea class="form-control" rows="4" placeholder="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravid</textarea>
                        </div>

                        <div class="form-group">
                            <label>Upload Image </label>
                            <input type="file" class="form-control" placeholder="Enter Category">
                        </div>


                        <button class="Button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body %}

