{% load static %}
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'superadmin/new/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'superadmin/new/css/responsive.css' %}"/>
</head>
<body>

<div class="LoginArea" style="background-image: {% static 'superadmin/new/images/pattern.png' %);">
    <div class="LoginBox">
        <figure><img src="{% static 'superadmin/new/images/Logo.png' %}"></figure>
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                {{ message }}
                <a href="javaScript:void(0)" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <h5>Let's Started BRASI</h5>
        <h6>To keep connected with us please Sign in .</h6>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Email ID</label>
                <input type="text" placeholder="Enter Email ID" class="form-control" name="email" id="email"
                       value="{{email}}">
                <span class="Icon"><i class="fa fa-envelope"></i></span>
            </div>

            <div class="form-group">
                <label>Password </label>
                <input type="password" placeholder="Enter Password" class="form-control" name="password" id="password"
                       value="{{password}}">
                <span class="Icon"><i class="fa fa-unlock-alt"></i></span>
            </div>

            <div class="Checkboxs">
                <a href="forgot.html">Forgot password?</a>
                <label class="CheckBox">Remember Me
                    <input type="checkbox" name="remember_me" class="remember_me" id='remember' value="{{remember_me}}">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="submitBtn">
                <button type="submit" class="Login" onclick="login()">Sign In <i class="fa fa-sign-in"></i></button>
            </div>
            <!--            <a class="Login" href="dashboard.html">Log In <i class="fa fa-sign-in"></i></a>-->
            <!-- <button>Log In <i class="fa fa-sign-in"></i></button> -->
        </form>
    </div>
</div>
<script type="text/javascript">

        function rememberMe() {
            var remember_me = '{{remember_me}}';
            console.log('On load function --->>>> ', remember_me, typeof (remember_me))
            if (remember_me) {
                console.log('inside remember me checked true or false')
                $("#remember").prop("checked", true);
            }
        }
        function login() {
            var email = $("#email").val();
            var password = $("#password").val();
            var remember_me = document.getElementById("remember").checked;
            //alert(remember_me)
            console.log(email, password, remember_me)

            console.log(email, password, remember_me)
            var url = "{% url 'adminpanel:superadmin' %}";
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    email: $("#email").val(),
                    password: $("#password").val(),
                    remember_me: remember_me,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    var protocol = window.location.protocol
                    var hostname = window.location.hostname
                    var port = window.location.port
                    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/superadmin-dashboard" + "/"
                    //alert("remember_me", remember_me)
                    window.location.href = url
                },
                error: function (data) {
                    var protocol = window.location.protocol
                    var hostname = window.location.hostname
                    var port = window.location.port
                    var url = protocol + "//" + hostname + ":" + port + "/adminpanel/superadmin/"
                    window.location.href = url
                }
            });
            event.preventDefault();
        }



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'superadmin/new/js/index.js' %}"></script>

</body>
</html>
