{% load static %}
<html lang="en">
<head>
    <title>Provider Category</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'superadmin/new/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'superadmin/new/css/responsive.css' %}"/>
</head>
<body>

<div class="Header">
    <div class="Logo">
        <img src="{% static 'superadmin/new/images/Logo.png' %}">
    </div>
    <div class="Navigation">
        <div class="Avater">
            <a href="javascript:void(0);">
                <figure><img src="{% static 'superadmin/new/images/profile.jpg' %}"></figure>
                {{user}} </a>
            <ul>
                <!-- <li>
                    <figure><img src="images/profile.jpg"></figure>
                    <h4> Bob Hyden <span>Administrator</span></h4>
                </li>  -->
                <li><a href="{% url 'adminpanel:superadmin-notification' %}"><span><i class="fa fa-bell"></i></span> Notification</a></li>
                <li><a href="{% url 'adminpanel:change_password' %}"><span><i class="fa fa-unlock-alt"></i></span>
                    Change Password</a></li>
                <li><a href="{% url 'adminpanel:super-admin-logout' %}"><span><i class="fa fa-sign-out"></i></span> Sign
                    Out</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="SidenavBar">
    <ul>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-dashboard' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-dashboard' %}">
                <span><i class="fa fa-tachometer"></i></span> Dashboard
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:customer-management' %}active{% endif %}">
            <a href="{% url 'adminpanel:customer-management' %}">
                <span><i class="fa fa-user"></i></span> Organization Management
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-money"></i></span> Subscription
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-subscription-plan' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-subscription-plan' %}"> BRASI Platform </a></li>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-general-subscription-plan' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-general-subscription-plan' %}"> General Subscription </a>
                    </li>
                </ul>
            </div>
        </li>
        <!--        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-subscription-plan' %}active{% endif %}">-->
        <!--            <a href="{% url 'adminpanel:superadmin-subscription-plan' %}">-->
        <!--                <span><i class="fa fa-money"></i></span> Subscription-->
        <!--            </a>-->
        <!--        </li>-->

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-clients' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-clients' %}">
                <span><i class="fa fa-money"></i></span> Clients
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-product-hunt"></i></span> Service Providers
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-service-providers' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-service-providers' %}"> List </a></li>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-service-providers-category' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-service-providers-category' %}"> Category </a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-database"></i></span> Assault
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-assault-form' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-assault-form' %}"> Questions </a></li>
                    <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-assault-records' %}active{% endif %}">
                        <a href="{% url 'adminpanel:superadmin-assault-records'  %}"> Records </a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-cog"></i></span> CMS
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="{% url 'adminpanel:hero' %}"> Heros </a></li>
                    <li><a href="{% url 'adminpanel:cms-benefits' %}"> Benefits </a></li>
                    <li><a href="{% url 'adminpanel:cms-features' %}"> Features </a></li>
                    <li><a href="{% url 'adminpanel:cms-how-it-works' %}"> How it works </a></li>
                    <li><a href="{% url 'adminpanel:cms-social-pages' %}"> Social Pages </a></li>
                    <li><a href="{% url 'adminpanel:cms-privacy-policy' %}"> Privacy Policy </a></li>
                    <li><a href="{% url 'adminpanel:cms-terms-of-use' %}"> Terms of Use </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-file"></i></span> FAQ
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="{% url 'adminpanel:faq-survivor' %}"> Survivors </a></li>
                    <li><a href="{% url 'adminpanel:faq-service' %}"> Service provider </a></li>
                    <li><a href="{% url 'adminpanel:faq-license' %}"> license holder </a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-line-chart" aria-hidden="true"></i></span> Report & Analytics
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="{% url 'adminpanel:report-survivor' %}"> Survivors </a></li>
                    <li><a href="{% url 'adminpanel:report-service-provider' %}"> Service provider </a></li>
                    <!-- <li> <a href="report-legal.html"> legal </a> </li>  -->
                </ul>
            </div>
        </li>

        <li>
            <a href="{% url 'adminpanel:voucher-view' %}">
                <span><i class="fa fa-envelope"></i></span> Voucher
            </a>
        </li>

        <li>
            <a href="{% url 'adminpanel:user-view' %}">
                <span><i class="fa fa-user"></i></span> User Management
            </a>
        </li>

        <li>
            <a href="{% url 'adminpanel:mail-box' %}">
                <span><i class="fa fa-envelope"></i></span> Mailbox
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:change_password' %}active{% endif %}">
            <a href="{% url 'adminpanel:change_password' %}">
                <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> Change Password
            </a>
        </li>


        <!-- <li class="nav-item dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                <span><i class="fa fa-font"></i></span> content Management
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li> <a href="hero.html"> Hero </a> </li>
                    <li> <a href="features.html"> Features </a> </li>
                    <li> <a href="faq.html"> FAQ's </a> </li>
                </ul>
            </div>
        </li>  -->

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:super-admin-logout' %}active{% endif %}">
            <a href="{% url 'adminpanel:super-admin-logout' %}">
                <span><i class="fa fa-sign-out"></i></span> Sign Out
            </a>
        </li>
    </ul>
</div>
{% block body %}
{% endblock body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'superadmin/new/js/index.js' %}"></script>

</body>
</html>
