{% extends 'superadmin/new/new-base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title">Notifications</h4>

            <div class="NotificationArea">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"><i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New notification received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new notification received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"><i class="fa  fa-user fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New notification received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new user registered on the platform.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"><i class="fa  fa-user fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New notification received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new user registered on the platform.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"><i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New notification received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new notification received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"><i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New notification received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new notification received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock body %}

