{% extends 'superadmin/new/new-base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="PasswordArea">
                <div class="row">
                    <div class="col-sm-7">
                        <form>
                            <h4 class="Title">Change password</h4>
                            <div class="form-group">
                                <label>Enter Current password</label>
                                <input type="password" name="" class="form-control" placeholder="xxxxxxxxxx">
                            </div>
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" name="" class="form-control" placeholder="xxxxxxxxxx">
                            </div>
                            <div class="form-group">
                                <label>Re-enter New password</label>
                                <input type="password" name="" class="form-control" placeholder="xxxxxxxxxx">
                            </div>
                            <button>Submit</button>
                        </form>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}