{% extends 'superadmin/new/new-base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="Small-Wrapper">
            <h4 class="Title">
                <span>Service Providers</span>
            </h4>

            <div class="FormArea">
                <div class="FormBox">
                    <h4>Edit Provider</h4>
                    <form action="">
                        <div class="row">

                            <div class="form-group col-sm-6">
                                <label for="">Company Business Name </label>
                                <input type="text" class="form-control" placeholder="Enter " value="ABC limited">
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="CheckBox">Private
                                    <input type="radio" name="company">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="CheckBox">Coporate Organizations
                                    <input type="radio" name="company">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Person First Name </label>
                                <input type="text" class="form-control" placeholder="" value="Asif ">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Person Last Name </label>
                                <input type="text" class="form-control" placeholder="" value="Khan">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Email ID </label>
                                <input type="text" class="form-control" placeholder="" value="asif12@gmail.com">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Mobile Number </label>
                                <input type="text" class="form-control" placeholder="" value="012100331">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Category </label>
                                <input type="text" class="form-control" placeholder="" value="Counsellor">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Qualfications </label>
                                <input type="text" class="form-control" placeholder="" value="B Tech">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Experience </label>
                                <input type="text" class="form-control" placeholder="" value="6 Years">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Available Slots </label>
                                <input type="text" class="form-control" placeholder=""
                                       value="May 04,2021 at 06 PM PST	">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Hourly Rate </label>
                                <input type="text" class="form-control" placeholder="" value="$40">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Address 1 </label>
                                <input type="text" class="form-control" placeholder="" value="Yamuna Vihar">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Address 2 </label>
                                <input type="text" class="form-control" placeholder="" value="Shahdara">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Country </label>
                                <select class="form-control">
                                    <option>India</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">City </label>
                                <select class="form-control">
                                    <option>Delhi</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="">Zip/ Postal Code </label>
                                <input type="text" class="form-control" placeholder="" value="110053">
                            </div>

                            <div class="form-group col-sm-12">
                                <label for="">Description </label>
                                <textarea name="" class="form-control" id="" cols="20" rows="5"></textarea>
                            </div>

                            <div class="ButtonBox col-sm-12">
                                <button class="Button Cancel"> Reset</button>
                                <button class="Button "> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock body %}