{% extends 'superadmin/new/new-base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="Small-Wrapper">
            <h4 class="Title">
                <span>Edit Assault Form </span>
            </h4>

            <div class="RecordForm">

                <div class="RecordBox">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" value="First Name">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" value="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Gender">
                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Male">

                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Female">

                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Other">

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Build">
                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Small">

                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Medium">

                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Large">

                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Not Sure">

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Height">

                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Small">
                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Medium">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Large">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Not Sure">
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Eye Colour">
                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Brown">
                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Green">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Blue">
                                    </div>
                                </li>

                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Not Sure">
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row " style="margin-bottom:10px">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" value="Special Body Mark">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" value="Telephone Number">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control formControl" value="Hair Colour">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Skin Colour">
                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Light">
                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Dark">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Not Sure">
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="Race">
                        <div class="signUpby signUpby2">

                            <ul class="nav nav-tabs mt-3">
                                <li class=" first">

                                    <div class="radio">
                                        <input type="text" class="form-control" value="Caucasian">
                                    </div>

                                </li>
                                <li class="second active">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Asian">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Africa">
                                    </div>
                                </li>
                                <li class="second">
                                    <div class="radio">
                                        <input type="text" class="form-control" value="Not Sure">
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <h4 class="Title pb-5 text-center pt-3 ">
                    <a href="record_filed.html"> Save</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
