{% extends 'superadmin/new/new-base.html' %}
{% block body %}

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title">
                <span>Service Provider Report</span>
            </h4>

            <div class="CommonTabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Government">Government Funded</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Private">Private Funded</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Individual">Individual Sole Traders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Volunteers">Volunteers</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="Government">
                        <div class="FilterArea">
                            <div class="form-group">
                                <label>Recorded From</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>Recorded To</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="Button Reset"><i class="fa fa-refresh"></i></button>
                                <button class="Button">Apply</button>
                            </div>
                        </div>

                        <div class="TableList">
                            <div class="CountExportArea">
                                <a href="" class="Export"><i class="fa fa-file-excel-o"></i> Export </a>

                                <label>
                                    Show per page
                                    <select>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </label>
                            </div>

                            <div class="CustomerTable">
                                <table style="width: 125%;">
                                    <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Company Name</th>
                                        <th>Company Address</th>
                                        <th>Service Category</th>
                                        <th>Charged Hourly Fee</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$30</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>J12</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$40</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="Pagination">
                            <ul>
                                <li><a href="#">Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Private">
                        <div class="FilterArea">

                            <div class="form-group">
                                <label>Recorded From</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>Recorded To</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="Button Reset"><i class="fa fa-refresh"></i></button>
                                <button class="Button">Apply</button>
                            </div>
                        </div>

                        <div class="TableList">
                            <div class="CountExportArea">
                                <label>
                                    Show per page
                                    <select>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </label>
                            </div>

                            <div class="CustomerTable">
                                <table style="width: 125%;">
                                    <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Company Name</th>
                                        <th>Company Address</th>
                                        <th>Service Category</th>
                                        <th>Charged Hourly Fee</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$30</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>J12</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$40</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="Pagination">
                            <ul>
                                <li><a href="#">Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Individual">
                        <div class="FilterArea">

                            <div class="form-group">
                                <label>Recorded From</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>Recorded To</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="Button Reset"><i class="fa fa-refresh"></i></button>
                                <button class="Button">Apply</button>
                            </div>
                        </div>

                        <div class="TableList">
                            <div class="CountExportArea">
                                <label>
                                    Show per page
                                    <select>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </label>
                            </div>

                            <div class="CustomerTable">
                                <table style="width: 125%;">
                                    <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Company Name</th>
                                        <th>Company Address</th>
                                        <th>Service Category</th>
                                        <th>Charged Hourly Fee</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$40</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>J12</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>$50</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="Pagination">
                            <ul>
                                <li><a href="#">Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Volunteers">
                        <div class="FilterArea">

                            <div class="form-group">
                                <label>Recorded From</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>Recorded To</label>
                                <input type="date" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="Button Reset"><i class="fa fa-refresh"></i></button>
                                <button class="Button">Apply</button>
                            </div>
                        </div>

                        <div class="TableList">
                            <div class="CountExportArea">
                                <label>
                                    Show per page
                                    <select>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </label>
                            </div>

                            <div class="CustomerTable">
                                <table style="width: 125%;">
                                    <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Company Name</th>
                                        <th>Company Address</th>
                                        <th>Service Category</th>
                                        <th>service provider type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>Government FUnd</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>J12</td>
                                        <td>Lorem@gmail.com</td>
                                        <td>0982892389</td>
                                        <td>ABC</td>
                                        <td>XYZ</td>
                                        <td>Legal Assistance</td>
                                        <td>Private Fund</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="Pagination">
                            <ul>
                                <li><a href="#">Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}