{% extends 'superadmin/new/new-base.html' %}
{% block body %}

    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <div class="HelpArea">
                    <div class="content">
                        <div class="HelpContent">
                            <a href="JavaScript:Void(0);" class="Edit" data-target="#EditModal" data-toggle="modal">Edit</a>

                            <h3>Terms of Use</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                opposed to using 'Content here, content here', making it look like readable English.</p>

                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum."
                            </p>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                                culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

                            <p> I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
                                it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                                because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ModalBox">
        <div class="modal" id="EditModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"><a class="CloseModal" data-dismiss="modal" href="JavaScript:Void(0);">×</a>
                        <div class="Category">
                            <h3>Edit Content</h3>
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control" type="text" value="Terms of Use">
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" rows="8" name="editor1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</textarea>
                            </div>
                            <button class="Button">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}