<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Brasi | Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
    <section class="loginAll">
        <div class="loginDetail">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="loginDett">
                <h2>Recoverd Email</h2>
                <p>To keep connected with us please sign in</p>
            </div>
            <form action="/action_page.php">
                <div class="form-group formgroup">
                    <label for="" class="labell">Email Id</label>
                    <input type="text" class="form-control formControl" placeholder="">
                </div>
                <div class="submitBtn">
                    <button type="submit" formaction="login.html">Submit</button>
                </div>
            </form>
        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>


</body>

</html>