{% load static %}
<html lang="en-us">

<head>
    <title>Brasi | Sign In</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<section class="loginAll">
    <div class="loginDetail">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="loginDett">
            <h2>Let's Started BRASI</h2>
            <p>To keep connected with us please sign in</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group formgroup">
                <label for="" class="labell">Email Id</label>
                <input type="text" class="form-control formControl" placeholder="" name="email" id="email"
                       value="{{email}}">
            </div>
            <div class="form-group formgroup" style="position: relative;">
                <label for="" class="labell">Password</label>
                <input type="password" class="form-control formControl passShow" placeholder=""
                       style="padding-right: 40px;" name="password" id="password" value="{{password}}">
                <span class="eye eye1 showCommon"><i class="fa fa-eye-slash"></i></span>
            </div>
            <div class="forgot">
                <div class="CheckBox homo2"><input type="checkbox">
                    <input name="remember_me" class="remember_me" id='remember' type="checkbox"
                           value="{{remember_me}}">
                    <span class="Check"><span class="rem">Remember Me </span>
<!--                    <input name="remember_me" class="remember_me" id='remember' type="checkbox" value="{{cookie3}}">-->
<!--                    <span class="checkmark"></span>-->
                </label>
                        </span>
                </div>

                <a href="{% url 'adminpanel:password-reset' %}">Forgot Password?</a>
            </div>
            <div class="submitBtn">
                <button type="submit" class="Login" onclick="login()">Sign In</button>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">

        function rememberMe() {
            var remember_me = '{{remember_me}}';
            console.log('On load function --->>>> ', remember_me, typeof (remember_me))
            if (remember_me) {
                console.log('inside remember me checked true or false')
                $("#remember").prop("checked", true);
            }
        }



        function login() {
            var email = $("#email").val();
            var password = $("#password").val();
            var remember_me = document.getElementById("remember").checked;
            //alert(remember_me)
            console.log(email, password, remember_me)

            console.log(email, password, remember_me)
            var url = "{% url 'adminpanel:login' %}";
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    email: $("#email").val(),
                    password: $("#password").val(),
                    remember_me: remember_me,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    var protocol = window.location.protocol
                    var hostname = window.location.hostname
                    var port = window.location.port
                    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/dashboard" + "/"
                    //alert("remember_me", remember_me)
                    window.location.href = url
                },
                error: function (data) {
                    var protocol = window.location.protocol
                    var hostname = window.location.hostname
                    var port = window.location.port
                    var url = protocol + "//" + hostname + ":" + port + "/adminpanel/login/"
                    window.location.href = url
                }
            });
            event.preventDefault();
        }




</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>