{% load static %}
<html lang="en">
<head>
    <title>Brasi</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'superadmin/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'superadmin/css/responsive.css' %}"/>
</head>
<body>

<div class="Header">
    <div class="Logo">
        <img src="{% static 'superadmin/images/Logo.png' %}">
    </div>
    <div class="Navigation">
        <div class="Avater">
            <a href="javascript:void(0);">
                <figure><img src="{% static 'superadmin/images/profile.jpg' %}"></figure>
                {{user}} </a>
            <ul>
                <!-- <li>
                    <figure><img src="images/profile.jpg"></figure>
                    <h4> Bob Hyden <span>Administrator</span></h4>
                </li>  -->
                <li><a href="{% url 'adminpanel:change_password' %}"><span><i class="fa fa-unlock-alt"></i></span>
                    Change Password</a></li>
                <li><a href="{% url 'adminpanel:super-admin-logout' %}"><span><i class="fa fa-sign-out"></i></span> Sign
                    Out</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="SidenavBar">
    <ul>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-dashboard' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-dashboard' %}">
                <span><i class="fa fa-tachometer"></i></span> Dashboard
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:customer-management' %}active{% endif %}">
            <a href="{% url 'adminpanel:customer-management' %}">
                <span><i class="fa fa-user"></i></span> Customer Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-subscription-plan' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-subscription-plan' %}">
                <span><i class="fa fa-money"></i></span> Subscription
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-clients' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-clients' %}">
                <span><i class="fa fa-money"></i></span> Clients
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-service-providers' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-service-providers' %}">
                <span><i class="fa fa-product-hunt"></i></span> Service Providers
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-service-providers-category' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-service-providers-category' %}">
                <span><i class="fa fa-cubes"></i></span> Provider Category
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-assault-form' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-assault-form' %}">
                <span><i class="fa fa-database"></i></span> Assault Form
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:superadmin-assault-records' %}active{% endif %}">
            <a href="{% url 'adminpanel:superadmin-assault-records' %}">
                <span><i class="fa fa-database"></i></span> Assault Records
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:change_password' %}active{% endif %}">
            <a href="{% url 'adminpanel:change_password' %}">
                <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> Change Password
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:super-admin-logout' %}active{% endif %}">
            <a href="{% url 'adminpanel:super-admin-logout' %}">
                <span><i class="fa fa-sign-out"></i></span> Sign Out
            </a>
        </li>
    </ul>
</div>
<div class="content-wrapper">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% block body %}
{% endblock body %}
</body>