{% extends 'superadmin/base.html' %}
{% block body %}
    <div class="WrapperArea">
        <div class="WrapperBox">
 
            <div class="Small-Wrapper">
                <h4 class="Title"> 
                    <span>Assault Form Management </span>  
                </h4>          

                <div class="RecordForm">
                    
                    <div class="RecordBox">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="">First Name </label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="">Last Name </label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Gender:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-6" name="radio3" type="radio">
                                            <label for="radio-6" class="radio-label">Male</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-7" name="radio3" type="radio" checked>
                                            <label for="radio-7" class="radio-label">Female</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-8" name="radio3" type="radio">
                                            <label for="radio-8" class="radio-label">Other</label>
                                        </div>
                                    </li>
            
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Build:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-9" name="radio4" type="radio">
                                            <label for="radio-9" class="radio-label">Small</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-10" name="radio4" type="radio" checked>
                                            <label for="radio-10" class="radio-label">Medium</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-11" name="radio4" type="radio">
                                            <label for="radio-11" class="radio-label">Large</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-12" name="radio4" type="radio">
                                            <label for="radio-12" class="radio-label">Not Sure</label>
                                        </div>
                                    </li>
            
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Height:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-13" name="radio5" type="radio">
                                            <label for="radio-13" class="radio-label">Small</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-14" name="radio5" type="radio" checked>
                                            <label for="radio-14" class="radio-label">Medium</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-15" name="radio5" type="radio">
                                            <label for="radio-15" class="radio-label">Large</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-16" name="radio5" type="radio">
                                            <label for="radio-16" class="radio-label">Not Sure</label>
                                        </div>
                                    </li>
            
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Eye Colour:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-17" name="radio6" type="radio">
                                            <label for="radio-17" class="radio-label">Brown</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-18" name="radio6" type="radio" checked>
                                            <label for="radio-18" class="radio-label">Green</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-19" name="radio6" type="radio">
                                            <label for="radio-19" class="radio-label">Blue</label>
                                        </div>
                                    </li>
                                
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-20" name="radio6" type="radio">
                                            <label for="radio-20" class="radio-label">Not Sure</label>
                                        </div>
                                    </li>
            
                                </ul>
                            </div>
                        </div>
                        <div class ="row " style="margin-bottom:10px">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl" placeholder="Special Body Mark">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl" placeholder="Telephone Number">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl" placeholder="Hair Colour">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Skin Colour:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-21" name="radio7" type="radio">
                                            <label for="radio-21" class="radio-label">Light</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-22" name="radio7" type="radio" checked>
                                            <label for="radio-22" class="radio-label">Dark</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-23" name="radio7" type="radio">
                                            <label for="radio-23" class="radio-label">Not Sure</label>
                                        </div>
                                    </li>
                                
                               
            
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="lab">Race:</label>
                            <div class="signUpby signUpby2">
            
                                <ul class="nav nav-tabs">
                                    <li class=" first">
            
                                        <div class="radio">
                                            <input id="radio-24" name="radio8" type="radio">
                                            <label for="radio-24" class="radio-label">Caucasian</label>
                                        </div>
            
                                    </li>
                                    <li class="second active">
                                        <div class="radio">
                                            <input id="radio-25" name="radio8" type="radio" checked>
                                            <label for="radio-25" class="radio-label">Asian</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-26" name="radio8" type="radio">
                                            <label for="radio-26" class="radio-label">Africa</label>
                                        </div>
                                    </li>
                                    <li class="second">
                                        <div class="radio">
                                            <input id="radio-27" name="radio8" type="radio">
                                            <label for="radio-27" class="radio-label">not sure</label>
                                        </div>
                                    </li>
                                
                               
            
                                </ul>
                            </div>
                        </div>
                    </div>

                    <h4 class="Title pb-5 text-center pt-3 "> 
                        <a href="assault-form.html"> Next</a>
                    </h4> 
                </div> 
            </div> 
        </div>
    </div>    


{% endblock body %}